.success-message, .error-message {
	color:#303030;
	background-color:#fffeb4;	
	padding:20px;
	border-radius:5px;
	text-align:center;
	margin:30px 0;
}

.attention-messages {
	width:99%;	
	display:none;
}

.attention-messages span {
	position:relative;
	top:-3px;	
}

.success-message li {
	list-style-image:url(../images/icon-success.png);
	list-style-position:inside;	
}

.error-message li {
	list-style-image:url(../images/icon-attention.png);
	list-style-position:inside;	
}

.contact-form form {
	text-align:left;
}

.contact-form fieldset {
	border:0;
	padding:30px 0 60px 0;
}

.contact-form span {
	display:block;
	color:#ba1f28;	
	font-size:0.84em;
	margin:0 0 0 7px;
}

.contact-form label {
	display:block;	
	padding:6px 0;
}

.required-field {
	font-size:0.85em;
	padding:10px 0;
}

.contact-form input {
	font-family:'latoregular';
	padding:10px;
	width:100%;
	border:1px solid #E5E5E5;
}

.contact-form textarea {
	font-family:'latoregular';
	font-size:0.9em;
	padding:6px 15px;
	border:1px solid #E5E5E5;
	width:100%;
}

.contact-form .button {
	font-size:1em;
	display:inline;
	color:#fff;
	cursor:pointer;
	margin:5px 10px 0 0;
	padding:8px 0;
	border-style:none;
	background-color:#BA0024;
	width:100px;
	transition:all 500ms ease 0s;	
}

.contact-form .button:hover {
	background-color:#810019;
}

