/*basic reset*/
* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	text-decoration:none;
	outline:none;
} 

/* COLORS -------------------------------------------------------------------------------/*
/* institutional   : #BA0024 */
/* button hover    : #810019 */
/* white bg heading: #555555 */
/* black bg heading: #AAAAAA */
/* white bg text   : #8D8D8D */
/* black bg text 1 : #AAAAAA */
/* black bg text 2 : #EBEBEB */
/* black bg line   : #7D7D7D */
/* white bg line   : #DFDFDF */

body {
	font-family:'Lato', sans-serif;
	font-size:16px;
	color:#8D8D8D;
	background-color:#F9F9F9;
	text-align:center;
}

img,
object,
embed,
video {
	height:auto;
	max-width:100%;
}

.fa, .icon, .mfg {
	margin-right:6px;	
}

.fa {
	display:inline;
}

/* -- Radio Button Fix -- */
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input[type="submit"], input[type="button"] {-webkit-appearance:button;}
select {-webkit-appearance:textfield;}

.opacity50 {
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
}

.box-shadow1 {
	box-shadow:0px 0px 5px #9A9A9A;
}

.box-shadow2 {
	box-shadow:0px -1px 0px #D5D1CB inset, 0px 1px 4px rgba(113, 108, 102, 0.1), 0px 0px 0px transparent;
}

.clear {
	clear:both;	
}

.wrapper { 
	width:100%; 
	float:left; 
	clear:both;
}

.wrapper-content {
	position:relative;
	width:1140px;
	left:50%;
	margin-left:-570px;
	float:left;
	clear:both;
}

.vertical-gradient {
	background:#F5F5F5;
	background:-moz-linear-gradient(top,  #F5F5F5 0%, #FFF 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#FFF));
	background:-webkit-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:-o-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:-ms-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:linear-gradient(to bottom,  #F5F5F5 0%,#FFF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#FFF',GradientType=0 );
}

.spacer10 {
	height:10px;	
}

.spacer20 {
	height:20px;	
}

.spacer30 {
	height:30px;	
}

.spacer40 {
	height:40px;	
}

.spacer50 {
	height:50px;	
}

.spacer60 {
	height:60px;	
}

.spacer80 {
	height:80px;	
}

/* BACK TO TOP -------------------------------------------------------------------------------------*/

.cd-top {
	display:inline-block;
	height:40px;
	width:40px;
	border-radius:2px;
	position:fixed;
	bottom:40px;
	right:10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	background:rgba(186, 0, 36, 0.8) url(../images/cd-top-arrow.png) no-repeat center 50%;
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity .3s 0s, visibility 0s .3s;
	-moz-transition:opacity .3s 0s, visibility 0s .3s;
	transition:opacity .3s 0s, visibility 0s .3s;
	z-index:2;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition:opacity .3s 0s, visibility 0s 0s;
	-moz-transition:opacity .3s 0s, visibility 0s 0s;
	transition:opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility:visible;
	opacity:1;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity:.5;
}

.no-touch .cd-top:hover {
	background-color:#e86256;
	opacity:1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
	right:20px;
	bottom:20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
	height:60px;
	width:60px;
	right:30px;
	bottom:30px;
  }
}

/* SOCIAL LINKS ----------------------------------------------------------------------------------------*/

/* SOCIAL LINKS HEADER ---------------------------------------------------------------------------------*/

#social-links-header {
	text-align:right;
	padding-right:40px;
}

#social-links-header .wrap-icon {
	display:inline-block;
}

#social-links-header i {
	color:#E0E0E0;
	font-size:1em;
	margin-right:16px;
}

#social-links-header .facebook-icon i {
	color:#3b5998;
	transition:all 500ms ease 0s;	
}

#social-links-header .facebook-icon i {
	color:#AAAAAA;
	transition:all 500ms ease 0s;	
}

#social-links-header .twitter-icon i {
	color:#AAAAAA;
	transition:all 500ms ease 0s;	
}

#social-links-header .youtube-icon i {
	color:#AAAAAA;
	transition:all 500ms ease 0s;	
}

#social-links-header .google-plus-icon i {
	color:#AAAAAA;
	transition:all 500ms ease 0s;	
}

#social-links-header .instagram-icon i {
	color:#AAAAAA;
	transition:all 500ms ease 0s;	
}

#social-links-header .linkedin-icon i {
	color:#AAAAAA;
	transition:all 500ms ease 0s;	
}

#social-links-header .facebook-icon i:hover {
	color:#fff;
}

#social-links-header .twitter-icon i:hover {
	color:#fff;
}

#social-links-header .youtube-icon i:hover {
	color:#fff;
}

#social-links-header .google-plus-icon i:hover {
	color:#fff;
}

#social-links-header .instagram-icon i:hover {
	color:#fff;
}

#social-links-header .linkedin-icon i:hover {
	color:#fff;
}

/* SOCIAL ICONS ----------------------------------------------------------------------------------------*/

.social-icons {
	padding:0!important;
	margin:0!important;
	list-style-type:none!important;
	float:left;
}
.social-icons li{
	float:left!important;
	margin-right:6px!important;
	margin-bottom:2px!important;
	padding:0px!important;
	display:inline!important;
	width:auto!important;

}			
.social-icons li a {
	-moz-transition:all 0.3s ease 0s;
	display:block!important;
	float:left!important;
	height:100%!important;
	margin:0!important;
	padding:0!important;
	width:32px!important;
	height:32px!important;
	text-indent:-9999px!important;
}
.social-icons li a:hover {
	background-position:0 -32px!important;
}
.social-icons li a {
	background-color:transparent;
}

.social-icons li.instagram a {
	background:url(../icons/instagram.png) no-repeat 0 0;
}
.social-icons li.instagram a:hover {
	background-color:#35648a;
}

.social-icons li.aim a {
	background:url(../icons/aim.png) no-repeat 0 0;
}
.social-icons li.aim a:hover {
	background-color:#e95a00;
}
.social-icons li.apple a {
	background:url(../icons/apple.png) no-repeat 0 0;
}
.social-icons li.apple a:hover {
	background-color:#606060;
}
.social-icons li.behance a {
	background:url(../icons/behance.png) no-repeat 0 0;
}
.social-icons li.behance a:hover {
	background-color:#18a3fe;
}
.social-icons li.blogger a {
	background:url(../icons/blogger.png) no-repeat 0 0;
}
.social-icons li.blogger a:hover {
	background-color:#fb913f;
}
.social-icons li.cargo a {
	background:url(../icons/cargo.png) no-repeat 0 0;
}
.
.social-icons li.delicious a {
	background:url(../icons/delicious.png) no-repeat 0 0;
}
.social-icons li.facebook a {
	background:url(../icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color:#3b5998;
}
.social-icons li.flickr a {
	background:url(../icons/flickr.png) no-repeat 0 0;
}
.social-icons li.flickr a:hover {
	background-color:#f1628b;
}
.social-icons li.google a {
	background:url(../icons/google.png) no-repeat 0 0;
}
.social-icons li.google a:hover {
	background-color:#dd4b39;
}
.social-icons li.googleplus a {
	background:url(../icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color:#d94a39;
}
.social-icons li.html5 a {
	background:url(../icons/html5.png) no-repeat 0 0;
}
.social-icons li.html5 a:hover {
	background-color:#f3642c;
}
.social-icons li.linkedin a {
	background:url(../icons/linkedin.png) no-repeat 0 0;
}
.social-icons li.linkedin a:hover {
	background-color:#187696;
}
.social-icons li.orkut a {
	background:url(../icons/orkut.png) no-repeat 0 0;
}
.social-icons li.orkut a:hover {
	background-color:#ed2590;
}
.social-icons li.paypal a {
	background:url(../icons/paypal.png) no-repeat 0 0;
}
.social-icons li.paypal a:hover {
	background-color:#32689a;
}
.social-icons li.picasa a {
	background:url(../icons/picasa.png) no-repeat 0 0;
}
.social-icons li.picasa a:hover {
	background-color:#444;
}
.social-icons li.pinterest a {
	background:url(../icons/pinterest.png) no-repeat 0 0;
}
.social-icons li.pinterest a:hover {
	background-color:#cb2027;
}
.social-icons li.rss a {
	background:url(../icons/rss.png) no-repeat 0 0;
}
.social-icons li.rss a:hover {
	background-color:#fe9900;
}
.social-icons li.skype a {
	background:url(../icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
	background-color:#18b7f1;
}
.social-icons li.tumblr a {
	background:url(../icons/tumblr.png) no-repeat 0 0;
}
.social-icons li.tumblr a:hover {
	background-color:#3a5976;
}
.social-icons li.twitter a {
	background:url(../icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color:#48c4d2;
}
.social-icons li.vimeo a {
	background:url(../icons/vimeo.png) no-repeat 0 0;
}
.social-icons li.vimeo a:hover {
	background-color:#62a0ad;
}
.social-icons li.wordpress a {
	background:url(../icons/wordpress.png) no-repeat 0 0;
}
.social-icons li.wordpress a:hover {
	background-color:#464646;
}
.social-icons li.yelp a {
	background:url(../icons/yelp.png) no-repeat 0 0;
}
.social-icons li.yelp a:hover {
	background-color:#c41200;
}
.social-icons li.youtube a {
	background:url(../icons/youtube.png) no-repeat 0 0;
}
.social-icons li.youtube a:hover {
	background-color:#f45750;
}

/* SOCIAL ICONS 2 --------------------------------------------------------------------------------------*/

.social-icons2 {
	padding:0!important;
	margin:0!important;
	list-style-type:none!important;
	float:left;
}
.social-icons2 li{
	float:left!important;
	margin-right:2px!important;
	margin-bottom:2px!important;
	padding:0px!important;
	display:inline!important;
	width:auto!important;

}			
.social-icons2 li a {
	-moz-transition:all 0.3s ease 0s;
	display:block!important;
	float:left!important;
	height:100%!important;
	margin:0!important;
	padding:0!important;
	width:28px!important;
	height:28px!important;
	text-indent:-9999px!important;
}
.social-icons2 li a:hover {
	background-position:0 -28px!important;
}
.social-icons2 li a {
	background-color:transparent;
}

.social-icons2 li.instagram a {
	background:url(../icons/instagram2.png) no-repeat 0 0;
}
.social-icons2 li.instagram a:hover {
	background-color:#35648a;
}

.social-icons2 li.aim a {
	background:url(../icons/aim.png) no-repeat 0 0;
}
.social-icons2 li.aim a:hover {
	background-color:#e95a00;
}
.social-icons2 li.apple a {
	background:url(../icons/apple.png) no-repeat 0 0;
}
.social-icons2 li.apple a:hover {
	background-color:#606060;
}
.social-icons2 li.behance a {
	background:url(../icons/behance.png) no-repeat 0 0;
}
.social-icons2 li.behance a:hover {
	background-color:#18a3fe;
}
.social-icons2 li.blogger a {
	background:url(../icons/blogger.png) no-repeat 0 0;
}
.social-icons2 li.blogger a:hover {
	background-color:#fb913f;
}
.social-icons2 li.cargo a {
	background:url(../icons/cargo.png) no-repeat 0 0;
}
.
.social-icons2 li.delicious a {
	background:url(../icons/delicious.png) no-repeat 0 0;
}
.social-icons2 li.facebook a {
	background:url(../icons/facebook2.png) no-repeat 0 0;
}
.social-icons2 li.facebook a:hover {
	background-color:#3b5998;
}
.social-icons2 li.flickr a {
	background:url(../icons/flickr.png) no-repeat 0 0;
}
.social-icons2 li.flickr a:hover {
	background-color:#f1628b;
}
.social-icons2 li.google a {
	background:url(../icons/google.png) no-repeat 0 0;
}
.social-icons2 li.google a:hover {
	background-color:#dd4b39;
}
.social-icons2 li.googleplus a {
	background:url(../icons/googleplus2.png) no-repeat 0 0;
}
.social-icons2 li.googleplus a:hover {
	background-color:#d94a39;
}
.social-icons2 li.html5 a {
	background:url(../icons/html5.png) no-repeat 0 0;
}
.social-icons2 li.html5 a:hover {
	background-color:#f3642c;
}
.social-icons2 li.linkedin a {
	background:url(../icons/linkedin2.png) no-repeat 0 0;
}
.social-icons2 li.linkedin a:hover {
	background-color:#187696;
}
.social-icons2 li.orkut a {
	background:url(../icons/orkut.png) no-repeat 0 0;
}
.social-icons2 li.orkut a:hover {
	background-color:#ed2590;
}
.social-icons2 li.paypal a {
	background:url(../icons/paypal.png) no-repeat 0 0;
}
.social-icons2 li.paypal a:hover {
	background-color:#32689a;
}
.social-icons2 li.picasa a {
	background:url(../icons/picasa.png) no-repeat 0 0;
}
.social-icons2 li.picasa a:hover {
	background-color:#444;
}
.social-icons2 li.pinterest a {
	background:url(../icons/pinterest.png) no-repeat 0 0;
}
.social-icons2 li.pinterest a:hover {
	background-color:#cb2027;
}
.social-icons2 li.rss a {
	background:url(../icons/rss.png) no-repeat 0 0;
}
.social-icons2 li.rss a:hover {
	background-color:#fe9900;
}
.social-icons2 li.skype a {
	background:url(../icons/skype.png) no-repeat 0 0;
}
.social-icons2 li.skype a:hover {
	background-color:#18b7f1;
}
.social-icons2 li.tumblr a {
	background:url(../icons/tumblr.png) no-repeat 0 0;
}
.social-icons2 li.tumblr a:hover {
	background-color:#3a5976;
}
.social-icons2 li.twitter a {
	background:url(../icons/twitter2.png) no-repeat 0 0;
}
.social-icons2 li.twitter a:hover {
	background-color:#48c4d2;
}
.social-icons2 li.vimeo a {
	background:url(../icons/vimeo.png) no-repeat 0 0;
}
.social-icons2 li.vimeo a:hover {
	background-color:#62a0ad;
}
.social-icons2 li.wordpress a {
	background:url(../icons/wordpress.png) no-repeat 0 0;
}
.social-icons2 li.wordpress a:hover {
	background-color:#464646;
}
.social-icons2 li.yelp a {
	background:url(../icons/yelp.png) no-repeat 0 0;
}
.social-icons2 li.yelp a:hover {
	background-color:#c41200;
}
.social-icons2 li.youtube a {
	background:url(../icons/youtube2.png) no-repeat 0 0;
}
.social-icons2 li.youtube a:hover {
	background-color:#f45750;
}

/* SOCIAL LINKS 3 --------------------------------------------------------------------------------------*/

.social-links3 {
	margin-top:10px;
}

.social-links3 .wrap-icon-facebook,
.social-links3 .wrap-icon-twitter,
.social-links3 .wrap-icon-youtube,
.social-links3 .wrap-icon-google-plus,
.social-links3 .wrap-icon-instagram,
.social-links3 .wrap-icon-linkedin {
	display:inline-block;
	font-size:0.95em;
	border:1px solid #606060;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin-right:2px;
	transition:all 500ms ease 0s;
}

.social-links3 .fa {
	margin:0;	
}

.social-links3 i {
	padding:12px;
	transition:all 500ms ease 0s;	
	color:#AEAEAE;
}

.social-links3 .wrap-icon-facebook:hover {
	background:#3b5998;
	border:1px solid #3b5998;
}

.social-links3 .wrap-icon-twitter:hover {
	background:#48c4d2;
	border:1px solid #48c4d2;
}

.social-links3 .wrap-icon-youtube:hover {
	background:#CC181E;
	border:1px solid #CC181E;
}

.social-links3 .wrap-icon-google-plus:hover {
	background:#dc4e41;
	border:1px solid #dc4e41;
}

.social-links3 .wrap-icon-instagram:hover {
	background:#35648a;
	border:1px solid #35648a;
}

.social-links3 .wrap-icon-linkedin:hover {
	background:#187696;
	border:1px solid #187696;
}

.social-links3 i:hover {
	color:#fff;	
}

/* SOCIAL LINKS 4 --------------------------------------------------------------------------------------*/

.social-links4 {
	margin-top:20px;
}

.social-links4 .wrap-icon-facebook,
.social-links4 .wrap-icon-twitter,
.social-links4 .wrap-icon-youtube,
.social-links4 .wrap-icon-google-plus,
.social-links4 .wrap-icon-instagram,
.social-links4 .wrap-icon-linkedin {
	display:inline-block;
	font-size:1em;
	background:#333;
	width:45px;
	height:45px;
	line-height:45px;
	text-align:center;
	border-radius:50%;
	transition:all 500ms ease 0s;
}

.social-links4 .fa {
	margin:0;	
}

.social-links4 i {
	padding:12px;
	transition:all 500ms ease 0s;	
}

.social-links4 .facebook-icon i {
	color:#3b5998;
}

.social-links4 .twitter-icon i {
	color:#48c4d2;
}

.social-links4 .youtube-icon i {
	color:#CC181E;
}

.social-links4 .google-plus-icon i {
	color:#dc4e41;
}

.social-links4 .instagram-icon i {
	color:#35648a;
}

.social-links4 .linkedin-icon i {
	color:#187696;
}

.social-links4 .wrap-icon-facebook:hover {
	background:#3b5998;
}

.social-links4 .wrap-icon-twitter:hover {
	background:#48c4d2;
}

.social-links4 .wrap-icon-youtube:hover {
	background:#CC181E;
}

.social-links4 .wrap-icon-google-plus:hover {
	background:#dc4e41;
}

.social-links4 .wrap-icon-instagram:hover {
	background:#35648a;
}

.social-links4 .wrap-icon-linkedin:hover {
	background:#187696;
}

.social-links4 i:hover {
	color:#fff;	
}

/* BAR HEADER ----------------------------------------------------------------------------------------*/

#bar-header {
	background:#282828;
	color:#AAAAAA;
	padding-bottom:5px;
	margin-top:-12px;	
}

#bar-header .phone,
#bar-header .email {
	font-size:0.9em;
	display:inline-block;	
	list-style-position:inside;
	margin-right:30px;
}

#bar-header .contacts {
	text-align:left;
	margin-top:-2px;	
}

#bar-header .contact-bar .email {
	position:relative;
	top:-2px;	
}

#bar-header .email i,
#bar-header .phone i {
	color:#BA0024;
}

/* CONTACT BAR HEADER ----------------------------------------------------------------------------------------*/

#contact-bar-header {
	background:#303030;
	color:#AAAAAA;
	padding-bottom:5px;
}

#contact-bar-header ul {
	margin-top:-12px;	
}

#contact-bar-header ul li {
	font-size:0.8em;
}

/* LOGO HEADER -------------------------------------------------------------------------------------------------*/

.logo-header {
	
}

/* BREADCRUMB  -------------------------------------------------------------------------------------------------*/

.breadcrumb {
	padding:6px 0 8px 0;
}

.breadcrumb a {
	color:#8D8D8D;
	font-size:0.7em;	
	text-transform:uppercase;
}

.breadcrumb a:hover {
	color:#BA0024;
	text-decoration:underline;
}

.breadcrumb span {
	color:#BA0024;
	font-size:0.7em;	
	text-transform:uppercase;
}

/* TITLE PAGE  ----------------------------------------------------------------------------------------------------*/

#title-page {
	background:url(../images/bg-title-page.jpg);
	background-attachment:fixed;
	background-position:right 115px;
}

.title-page {
	padding:178px 0;
	margin-top:81px;	
}

.title-page h1 {
	font-weight:500;
	color:#BA0024;
	font-size:2.3em;
	text-transform:uppercase;
}

/* CONTENT --------------------------------------------------------------------------------------------------------*/

.content p,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	text-align:left;	
}

.content p {
	padding-right:20px;	
}

/* FORMATACAO TEXTO ----------------------------------------------------------------------------------------------*/

h1 {
    font-size:2.8em;
}

h2 {
    font-size:2.4em;
}

h3 {
    font-size:1.8em;
}

h4 {
    font-size:1.5em;
}

h5 {
    font-size:1.2em;
	font-style:italic;
}

h6 {
    font-size:1em;
}

h1, h2, h3, h4, h5, h6 {
	margin:5px 0 3px 0;
}

h1, h2, h4, h5, h6 {
	color:#555555;
}

h3 {
	color:#BA0024;
}

h1, h2, h3 {
	font-weight:300;
}

h4, h5, h6 {
	font-weight:400;
}

p {
	font-size:1em;	
	margin-bottom:1em;
	line-height:1.4em;
}

a {
	color:#BA0024;
	transition:all 500ms ease 0s;	
	text-decoration:none;
}

a:hover {
	color:#555555;
}

legend {
	font-size:1.2em;
	margin-top:10px;
}

legend span {
	color:#BA0024;
    font-variant:small-caps;
}

/* VIDEO CONTAINER -----------------------------------------------------------------------------------------*/

.videos {
	margin-top:40px;	
}

.video-container {
	position:relative; /* keeps the aspect ratio */
	padding-bottom:56.25%; /* fine tunes the video positioning */
	overflow:hidden;
	margin-top:30px;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.video-container iframe {
	/*border:1px solid #DFDFDF;
	padding:8px;*/
}

/* SHADOWBOX --------------------------------------------------------------------------------------------------*/

.shadowbox {
	margin-top:60px;	
}

.shadowbox img {
	/*border:1px solid #DFDFDF;
	padding:8px;*/
}

.image-shadowbox,
.video-shadowbox {
	margin-top:30px;	
}

/* LINE STYLES ----------------------------------------------------------------------------------------------------*/

hr {
	display:block;
	border:0;
	margin:1em 0;
	padding:0;
}

/* SIMPLE LINES ----------------------------------------------------------------------------------------------------*/

.horizontal-line-black-bg {
	border-top:1px solid #363636;	
}

.horizontal-line-white-bg {
	border-top:1px solid #DDDDDD;	
}

.line-pad {
	padding-right:20px;	
}

.dotted-line {
	border-top:1px dotted #DDDDDD;	
}

.dashed-line {
	border-top:1px dashed #DDDDDD;	
}

.double-line {
	border-top:1px solid #C8C8C8;	
	border-bottom:1px solid #828282;
}

/* LINE STYLE WECANFLY ----------------------------------------------------------------------------------------------*/

.line-style-wecanfly .line1 {
	border-top:1px solid #DFDFDF;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

.line-style-wecanfly .line2 {
	background-color:#BA0024;
	width:80px;
	height:3px;
	position:relative;
	top:-18px;	
	margin-left:auto;
	margin-right:auto;
	border:0 none;
}

/* LINE STYLE CLASH  -------------------------------------------------------------------------------------------------*/

.line-style-clash {
	margin-top:-10px;	
}

.line-style-clash .line1 {
	background-color:#BA0024;
	margin-left:auto;
	margin-right:auto;
	border:0 none;
	width:18%;
	height:3px;	
	float:right;
	margin-top:-2px;
}

.line-style-clash .line2 {
	border-top:1px solid #DFDFDF;
	width:82%;	
}

/* LINE STYLE GRADIENT ----------------------------------------------------------------------------------------------*/

.line-style-gradient {
	border:0;
	height:1px;
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top:5px;
}

/* LINE STYLE GLYPH --------------------------------------------------------------------------------------------------*/

.line-style-glyph {
	padding:0;
	border:none;
	border-top:medium double #DFDFDF;
	color:#DFDFDF;
	text-align:center;
}

.line-style-glyph:after {
	content:"§";
	display:inline-block;
	position:relative;
	top:-16px;
	font-size:1.3em;
	padding:0 10px;
	background:#FFF;
}

/* LINE STYLE DIAGONAL --------------------------------------------------------------------------------------------------*/

.line-style-diagonal {
	height:6px;
	background:url(../images/line-styles/diagonal.png) repeat-x 0 0;
    border:0;
}

/* LINE STYLE ZIG ZAG --------------------------------------------------------------------------------------------------*/

.line-style-zigzag {
	height:6px;
	background:url(../images/line-styles/zigzag.png) repeat-x 0 0;
    border:0;
}

/* LINE STYLE DIAMOND --------------------------------------------------------------------------------------------------*/

.line-style-diamond {
	height:7px;
	background:url(../images/line-styles/diamond.png) repeat-x 0 0;
    border:0;
}

/* BUTTONS ------------------------------------------------------------------------------------------------------------*/

#buttons {
	padding-top:40px;
	padding-bottom:20px;
}

#buttons h6 {
	margin-top:30px;	
}

.btn-large,
.btn-border,
.btn-bevel,
.btn-std {
	margin:20px 0;
}

.btn-large {
	margin-top:25px;
}

.btn-std a {
	color:#fff;
	background-color:#BA0024;
	padding:8px 22px;
}

.btn-std a:hover {
	color:#fff;
	background-color:#810019;
}

.btn-round a {
	border-radius:5px;	
}

.btn-border a {
	border-style:solid;
	border-width:1px;
	background-color:transparent;
	padding:8px 22px;
}

.btn-border a:hover {
	border-style:solid;
	border-width:1px;
	border-color:#BA0024;
	padding:8px 22px;
	color:#fff;
	background-color:#BA0024;
}

.btn-large a {
	padding:12px 35px;
	font-size:1.2em;	
}

.btn-large a:hover {
	padding:12px 35px;
}

.btn-bevel a {
	color:#fff;
	background-size:100% auto;
	background:linear-gradient(to bottom, #F06000 0%, #BA0024 100%);
	border:1px solid #BA0024;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.4) inset;
	text-shadow:0px 1px 1px rgba(0, 0, 0, 0.4);
    display:inline-block;
    vertical-align:middle;
    padding:12px 35px;
    border-radius:5px;
    font-size:1.2em;
    font-weight:bold;
}

.btn-bevel a:hover {
	background:linear-gradient(to bottom, #BA0024 0%, #F06000 100%);
}

/* SERVICES ------------------------------------------------------------------------------------------------------*/

.services {
	padding-bottom:50px;
}

.services .single-service {
	margin-top:30px;
	padding-bottom:10px;	
	text-align:left;
}

.services .icon-service {
	float:left;	
	font-size:1.5em;
	color:#BA0024;
}

.services .single-service a {
	cursor:default;	
	background:#EBEBEB;
	border-radius:50px;
	padding:10px 4px 10px 14px;
	margin-right:10px;
	box-shadow:0px -1px 0px rgba(0, 0, 0, 0.12) inset, 0px 1px 1px transparent, 0px 2px 3px transparent;
}

.services h2 {
	font-weight:400;
	font-size:1.2em;	
	text-transform:uppercase;
}

.services p {
	margin:10px 0 0 63px;
}

/* SERVICES CENTERED ----------------------------------------------------------------------------------------------*/

.services-centered {
	padding-bottom:50px;
}

.services-centered .single-service {
	margin-top:30px;
	padding-bottom:10px;	
}

.services-centered .icon-service {
	font-size:1.8em;
	color:#BA0024;
}

.services-centered .icon-service .icon {
	margin:0;
}

.services-centered .single-service a {
	cursor:default;	
	background:#EBEBEB;
	border-radius:50%;
	padding:24px 30px;
	margin-right:10px;
	box-shadow:0px -1px 0px rgba(0, 0, 0, 0.12) inset, 0px 1px 1px transparent, 0px 2px 3px transparent;
}

.services-centered h2 {
	font-weight:400;
	font-size:1.2em;	
	text-transform:uppercase;
	margin-top:40px;
}

.services-centered p {
	margin-top:10px;
	padding:0 20px;
}

/* SERVICES BOXED --------------------------------------------------------------------------------------------------*/

.services-boxed {
	padding-bottom:50px;
}

.services-boxed .single-service {
	margin-top:30px;
	padding-bottom:10px;	
	text-align:left;
}

.services-boxed .icon-service {
	float:left;	
	font-size:1.5em;
	color:#BA0024;
}

.services-boxed .single-service {
	border:1px solid #DFDFDF;	
	padding:25px 25px 25px 35px;
	transition:all 300ms ease 0s;	
}

.services-boxed .single-service:hover {
	box-shadow:0px 0px 5px #9A9A9A;
	border:1px solid #fff;	
}

.services-boxed .single-service a {
	cursor:default;	
	margin-right:5px;
}

.services-boxed h2 {
	font-weight:400;
	font-size:1.2em;	
	text-transform:uppercase;
}

.services-boxed p {
	margin-top:10px;
	margin-bottom:0;
}

/* FULLSIZED TWO COLUMNS ------------------------------------------------------------------------------------------------*/

.two-columns-full-sized {
	background:#282828;
	max-width:1920px;
	width:100%;
	overflow:hidden;
	margin-top:30px;
}

.column2 {
	text-align:left;
	padding:80px 0 0 40px;
}

.content-column2 {
	margin-top:40px;
}

.icon-column {
	float:left;
	padding:10px 20px 20px 0;
}

.icon-column i {
	font-size:3em;	
	color:#BA0024;
}

.info-column h4 {
	color:#EBEBEB;
	font-size:1em;
	text-transform:uppercase;	
}

.info-column p {
	padding-right:35px;	
}

/* TESTIMONIALS ------------------------------------------------------------------------------------------------*/

#testimonials {
	margin-top:50px;	
}

blockquote {
	margin-top:30px;	
	text-align:left;	
	padding-bottom:60px;	
}

.content-testimonial {
	padding:30px 20px 1px 20px;
	background:#4F4F4F;
	color:#AAAAAA;
}

.aspas:before {
	font-family:Constantia, serif;
	content:"“";
	font-size:6em;
	float:left;
	margin:-15px 10px 0 0;
}

blockquote p {
	margin-left:50px;	
}

.arrow-baloon {
	content:"";
	display:inline-block;
	vertical-align:middle;
	margin-left:50px;
	width:0; 
	height:0; 
	border-top:15px solid #4F4F4F;
	border-right:20px solid transparent;
	float:left;
}

.image-deponent {
	float:left;	
	margin:15px 20px 0 0;
}

.content-deponent {
	margin-top:30px;
}

.name-deponent {
	font-weight:700;
	font-size:1.1em;
	color:#555;	
}

.function-deponent {
	font-style:italic;	
}

.location-deponent {
	font-weight:700;
	color:#BA0024;	
}

/* ACCORDION EFFECT ------------------------------------------------------------------------------------------------*/

.accordion-effect {
	margin-top:30px;
}

.accordion-list {
	margin-top:20px;	
}

.accordion {
    margin-top:3px;
    padding:12px 20px;
	color:#555;
    background:#EEE;
    text-decoration:none;
    font-size:1em;
	text-align:left;
	border-left:5px solid #BA0024;
}

/*.accordion-open {
    background:#000;
    color:#fff;
}*/

.accordion-effect ul li {
	padding:10px;
	text-align:left;	
}

.accordion-effect ul li a {
	color:#8D8D8D;
	font-size:0.95em;
}

.accordion-open span {
    display:block;
    float:right;
    padding:10px;
}

.accordion-open span {
    background:url(../images/arrow-up.png) center center no-repeat;
}

.accordion-close span {
    display:block;
    float:right;
    background:url(../images/arrow-down.png) center center no-repeat;
    padding:10px;
}

/* TABS  ------------------------------------------------------------------------------------------------*/

#tabs {
	margin-top:50px;
	padding-bottom:30px;	
}

.tabs {
	text-align:left;	
	margin-top:30px;
}

#content1,
#content2,
#content3,
#content4 {
  display:none;
  padding:20px 0 0;
  border-top:1px solid #DDD;
}

#tab1,
#tab2,
#tab3,
#tab4 {
  display:none;
}

label {
  display:inline-block;
  margin:0 0 -1px;
  padding:15px 25px;
  font-weight:600;
  text-align:center;
  color:#bbb;
  border:1px solid transparent;
}

label:before {
  font-family:fontawesome;
  font-weight:normal;
  margin-right:10px;
}

label[for*='1']:before {
  content:'\f1cb';
}

label[for*='2']:before {
  content:'\f17d';
}

label[for*='3']:before {
  content:'\f16b';
}

label[for*='4']:before {
  content:'\f1a9';
}

label:hover {
  color:#888;
  cursor:pointer;
}

input:checked + label {
  color:#555;
  border:1px solid #ddd;
  border-top:3px solid #BA0024;
  border-bottom:1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display:block;
}

@media screen and (max-width:650px) {
  .tabs label {
    font-size:0;
  }

  .tabs label:before {
    margin:0;
    font-size:18px;
  }
}

@media screen and (max-width:400px) {
  .tabs label {
    padding:15px;
  }
}

/* CLIENT LOGOS  ---------------------------------------------------------------------------------------------------*/

#owl-example .item {
	padding:30px 0px;
	margin:10px;
	color:#FFF;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-align:center;
}

#owl-example .item img {
	width:auto;
	margin:0 auto;
	display:block;
	display:block;
	width:100%;
	height:auto;
	transition:all 300ms ease 0s;	
}

#owl-example .item img:hover {
	box-shadow:0px 0px 5px #9A9A9A;
}

/* SIDEBAR ------------------------------------------------------------------------------------------------------*/

/* WIDGET NAVS --------------------------------------------------------------------------------------------------*/

.widget-nav {
	text-align:left;
	margin-top:20px;
}

.widget-nav li {
	list-style-position:inside;
	margin:8px 0;
}

.widget-nav li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
}

.widget-nav li a:hover {
	color:#BA0024;
}

.widget-nav i {
	color:#BA0024;
}

/* WIDGET LIST BG COLOR ----------------------------------------------------------------------------------------------*/

.widget-nav-bg-color {
	text-align:left;
	margin-top:30px;
}

.widget-nav-bg-color ul {
	margin-top:10px;	
}

.widget-nav-bg-color li {
	list-style-position:inside;
	background:#BA0024;
	margin-top:1px;
	padding:10px 0 10px 15px;
	transition:all 500ms ease 0s;	
}

.widget-nav-bg-color li:hover {
	background:#810019;
}

.widget-nav-bg-color li a {
	font-size:0.95em;
	color:#fff;
	text-decoration:none;	
	padding:10px 100px 10px 0;
}

.widget-nav-bg-color i {
	font-size:0.7em;
}

/* WIDGET LIST SIMPLE ---------------------------------------------------------------------------------------*/

.widget-nav-simple {
	text-align:left;
	margin-top:30px;
}

.widget-nav-simple li {
	margin:8px 0;
}

.widget-nav-simple li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
	text-transform:uppercase;
}

.widget-nav-simple li a:hover {
	color:#BA0024;
}

/* WIDGET LIST BORDER -----------------------------------------------------------------------------------------*/

.widget-nav-border {
	text-align:left;
	margin-top:30px;
}

.widget-nav-border ul {
	margin-top:10px;	
	border:1px solid #DFDFDF;
	background-color:transparent;
	border-radius:5px;
}

.widget-nav-border ul:hover {
	border-radius:5px;
}

.widget-nav-border li {
	padding:10px 0 10px 15px;
	transition:all 500ms ease 0s;	
	border-bottom:1px solid #DFDFDF;
}

.widget-nav-border li:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.widget-nav-border li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.widget-nav-border li:hover {
	background:#EEE;
}

.widget-nav-border li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
	padding:10px 100px 10px 0;
}

/* WIDGET LIST SHADOW -----------------------------------------------------------------------------------------*/

.widget-nav-shadow {
	text-align:left;
	margin-top:30px;
}

.widget-nav-shadow ul {
	margin-top:15px;	
	box-shadow:0px 0px 5px #9A9A9A;
	background-color:transparent;
	border-radius:5px;
	padding:15px 30px;
}

.widget-nav-shadow ul:hover {
	border-radius:5px;
}

.widget-nav-shadow li {
	padding:10px 0;
	transition:all 500ms ease 0s;	
	border-bottom:1px solid #DFDFDF;
}

.widget-nav-shadow li:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.widget-nav-shadow li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.widget-nav-shadow li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
}

.widget-nav-shadow li a:hover {
	color:#BA0024;
}

/* CALL TO ACTION ------------------------------------------------------------------------------------------------*/

#call-to-action {
	background:url(../images/patterns/crissXcross.png);
	background-attachment:fixed;
	padding:60px 0 80px 0;
	margin-top:50px;
}

.call-to-action h3 {
	text-align:left;
}

.call-to-action p {
	text-align:left;
}

.call-to-action .btn-border {
	margin-top:35px;	
}

/* CALL TO ACTION BOXED -------------------------------------------------------------------------------------------*/

#call-to-action-boxed {
	margin:80px 0;
}

.call-to-action-boxed {
	background:#282828;
	padding:30px 20px 50px 40px;
	border-left:5px solid #BA0024;
}

.call-to-action-boxed h3 {
	margin-top:20px;
	text-align:left;
}

.call-to-action-boxed p {
	text-align:left;
}

/* NEWSLETTER ---------------------------------------------------------------------------------------------*/

#newsletter {
	background:url(../images/patterns/crissXcross.png);
	background-attachment:fixed;
	padding:40px 0 60px 0;
}

.newsletter h3 {
	text-align:left;
}

.newsletter p {
	text-align:left;
}

#subscribe-newsletter fieldset {
	border:none;	
	margin-top:30px;
	text-align:right;
}

#subscribe-newsletter fieldset .subscribe-newsletter {
	border:1px solid #B7B7B7;
	background-color:transparent;	
	font-size:0.9em;
	color:#7A7A7A;
	padding:7px 20px;
}

#subscribe-newsletter fieldset .button {
	font-weight:300;
	border:none;
	background-color:#BA0024;	
	color:#fff;
	font-size:0.8em;
	text-transform:uppercase;
	padding:8px 15px;
	cursor:pointer;
	position:relative;
	left:-5px;
	top:-1px;
	transition:all 500ms ease 0s;	
}

#subscribe-newsletter fieldset .button:hover {
	background-color:#810019;	
}

/* CONTATO ----------------------------------------------------------------------------------------------*/

#contact-form {
	padding:40px 0 60px 0;
}

.alert-messages {
	display:none;
}

.success-message, .error-message {
	color:#303030;
	padding:25px;
	border-radius:5px;
	text-align:center;
	margin:30px 0;
}

.success-message {
	background-color:#FFFEBF;	
	border:1px solid #FFE94F;
}

.error-message {
	background-color:#E6B5B5;	
	border:1px solid #D17676;
}

.success-message i {
	margin-right:10px;
	font-size:1.4em;
	color:#377C34;
}

.error-message i {
	margin-right:10px;
	font-size:1.4em;
	color:#FF0000;
}

.alert-messages {
	padding-right:20px;
}

.contact-form form {
	text-align:left;
}

.contact-form fieldset {
	border:0;
	margin-top:30px;
}

.contact-form span {
	display:block;
	color:#ba1f28;	
	font-size:0.84em;
	margin:0 0 0 7px;
}

.contact-form label {
	display:block;	
	padding:6px 0;
}

.required-field {
	font-size:0.85em;
	padding:10px 0;
}

.contact-form input {
	font-family:'Lato', sans-serif;
	font-size:0.8em;
	padding:10px 18px;
	width:100%;
	border:1px solid #E5E5E5;
}

.contact-form textarea {
	font-family:'Lato', sans-serif;
	font-size:0.8em;
	padding:6px 15px;
	border:1px solid #E5E5E5;
	width:100%;
}

.contact-form .button {
	font-size:1em;
	display:inline;
	color:#fff;
	cursor:pointer;
	margin:5px 10px 0 0;
	padding:8px 0;
	border-style:none;
	background-color:#BA0024;
	width:100px;
	transition:all 500ms ease 0s;	
}

.contact-form .button:hover {
	background-color:#810019;
}

/* CONTACT-FORM/CONTACT-INFO ----------------------------------------------------------------------------------------------*/

#contact-form-contact-info {
	padding-bottom:60px;
}

.contact-info {
	text-align:left;
	margin-top:40px;
}

.contact-info li {
	list-style-position:inside;
	margin:20px 0;
}

.contact-info li a {
	color:#8D8D8D;
	text-decoration:none;	
}

.contact-info i,
.contact-info i,
.contact-info i,
.contact-info i {
	font-size:1em;
	color:#BA0024;
	background:#EBEBEB;
	padding:12px;
	border-radius:80px;
	box-shadow:0px -1px 0px rgba(0, 0, 0, 0.12) inset, 0px 1px 1px transparent, 0px 2px 3px transparent;
}

/* GOOGLE MAPS ----------------------------------------------------------------------------------------------*/

#google-map {
	margin-bottom:-4px;	
	border-top:1px solid #DFDFDF;
}

.hue-rotate {
	filter:hue-rotate(220deg);
	-webkit-filter:hue-rotate(220deg);
	-moz-filter:hue-rotate(220deg);
	-o-filter:hue-rotate(220deg);
	-ms-filter:hue-rotate(220deg);
}

.desaturate {
	filter:saturate(50%);
	-webkit-filter:saturate(500%);
	-moz-filter:saturate(500%);
	-o-filter:saturate(500%);
	-ms-filter:saturate(500%);	
}

/* CONTACT BAR ----------------------------------------------------------------------------------------------*/

#contact-bar {
	color:#AAAAAA;
	background:#303030;
	padding-bottom:15px;
}

.contact-bar ul {
	margin-top:-5px;	
}

.contact-bar ul li {
	font-size:0.9em;
	display:inline-block;	
	list-style-position:inside;
	margin:0 50px 0 0;
}

.contact-bar .adress {
	float:left;
}

.contact-bar .email {
	float:right;
}

.contact-bar .phone {
	position:relative;
	top:-2px;
}

.contact-bar i {
	color:#BA0024;
}

/* FOOTER ----------------------------------------------------------------------------------------------*/

footer {
	background:#3B3B3B;
	padding:10px 0 50px 0;
}

/* WIDGET CONTACT ----------------------------------------------------------------------------------------------*/

.widget-contact {
	text-align:left;	
}

.widget-contact ul {
	margin-top:15px;
}

.widget-contact li {
	font-size:0.9em;
	color:#CDCDCD;	
	list-style-position:inside;
}

.widget-contact span {
	line-height:23px;
}

.widget-contact .contacts i {
	color:#BA0024;	
}

/* FACEBOOK PAGE -------------------------------------------------------------------------------------------------------*/

.fb-page {
	margin-top:15px;
}

/* COPYRIGHT 1 ------------------------------------------------------------------------------------------------------*/

#copyright1 {
	background-color:#303030;
	padding-top:5px;
	padding-bottom:25px;
}

.copyright {
	font-size:0.93em;
}

/* COPYRIGHT 2 ------------------------------------------------------------------------------------------------------*/

#copyright2 {
	background-color:#282828;
	padding-top:5px;
	padding-bottom:20px;
}

#copyright2 .copyright {
	text-align:left;
}

.developer {
	text-align:right;
	font-size:0.6em;
}

.developer a {
	color:#0C4C43;
}

.developer a:hover {
	color:#6CC5B2;
}

.developer span {
	position:relative;
	top:-2px;	
	margin-right:8px;
}

/* BLOG -------------------------------------------------------------------------------------------*/

.blog-post {
	text-align:left;	
}

.blog-post-title {
	margin-top:15px;	
}

.blog-post-meta {
	margin-top:15px;	
}

.blog-post-meta > time, .blog-post-meta > span {
	display:inline-block;	
	vertical-align:top;
	color:#A6A6A6;
	margin-right:10px;
}

.blog-post-meta i {
	color:#BA0024;	
}

.blog-post-content {
	margin-top:25px;	
}

.blog-post-more {
	margin-top:40px;	
}


/* MEDIA QUERIES -------------------------------------------------------------------------------------------*/

/* Menor que 1600 */
@media only screen and (max-width: 1600px) {
	.column2 {
		padding-top:30px;
		padding-left:30px;
	}
	
	.icon-column i {
		font-size:2.5em;	
	}
	
	.info-column h4 {
		font-size:0.95em;
	}
	
	.info-column p {
		font-size:0.95em;
	}

}

/* Menor que 1350 */
@media only screen and (max-width: 1350px) {
	.column2 {
		padding-top:20px;
		padding-left:20px;
	}
	
	.icon-column i {
		font-size:2em;	
	}
	
	.info-column h4 {
		font-size:0.9em;
	}
	
	.info-column p {
		font-size:0.9em;
	}

}

/* Menor que 960 */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait ao padrão 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* Todos tamanhos de mobile */
@media only screen and (max-width: 767px) {
	
}

/* Mobile em landscape a tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.contact-bar ul li {
		margin-right:20px;
	}
	
}

/* Mobile em portrait a mobile em landscape */
@media only screen and (max-width: 479px) { 
	
	.contact-bar ul li {
		float:left;
	}
	
	#contact-bar-header {
		display:none;	
	}
	
	.call-to-action .btn-border,
	.call-to-action-boxed .btn-std {
		text-align:left;	
	}
	
	#subscribe-newsletter fieldset {
		text-align:left;	
	}

	#subscribe-newsletter fieldset .button {
		margin-top:15px;
		left:0;
	}
	
	.contact-bar .adress,
	.contact-bar .phone,
	.contact-bar .email {
		float:left;
		text-align:left;
	}
	
	.contact-bar ul li {
		margin-right:0;	
	}
	
	#copyright2 .copyright {
		text-align:center;
	}
	
	.developer {
		text-align:center;
		margin-top:30px;
	}
	
	#title-page {
		background:url(../images/bg-title-page-mobile.jpg);
		background-attachment:inherit;
	}
	
	.title-page {
		padding:90px 0;
		margin-top:92px;	
	}
	
	.single-service {
		text-align:center;	
	}
	
	.icon-service {
		float:none;	
	}
	
	.services h2 {
		margin-top:20px;	
	}
	
	.services p {
		margin-left:0;	
	}
	
	.content-testimonial {
		padding-bottom:20px;
	}

	.aspas:before {
		font-size:5em;
		margin:-10px 5px 0 0;
	}

	.two-columns-full-sized {
		padding-bottom:30px;
	}

	.column1 {
		margin:0;	
		padding-right:0;
	}
	
	.column2 {
		padding-top:0;	
	}

	#bar-header {
		display:none;	
	}

	#social-links-header {
		text-align:left;
	}


}














