/*basic reset*/
* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	text-decoration:none;
	outline:none;
} 

/* COLORS -------------------------------------------------------------------------------/*
/* institutional   : #BA0024 */
/* button hover    : #810019 */
/* white bg heading: #555555 */
/* black bg heading: #AAAAAA */
/* white bg text   : #8D8D8D */
/* black bg text   : #AAAAAA */
/* black bg line   : #7D7D7D */
/* white bg line   : #D2D2D2 */

body {
	font-family:'Lato', sans-serif;
	font-size:16px;
	color:#8D8D8D;
	background-color:fff;
	text-align:center;
}

img,
object,
embed,
video {
	height:auto;
	max-width:100%;
}

.fa, .icon, .mfg {
	margin-right:10px;	
}

.fa {
	display:inline;
}

/* -- Radio Button Fix -- */
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input[type="submit"], input[type="button"] {-webkit-appearance:button;}
select {-webkit-appearance:textfield;}

.opacity {
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
}

.drop-shadow {
	box-shadow:0px 0px 5px #9A9A9A;
}

.clear {
	clear:both;	
}

.wrapper { 
	width:100%; 
	float:left; 
	clear:both;
}

.wrapper-content {
	position:relative;
	width:1140px;
	left:50%;
	margin-left:-570px;
	float:left;
	clear:both;

}

.vertical-gradient {
	background:#F5F5F5;
	background:-moz-linear-gradient(top,  #F5F5F5 0%, #FFF 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#FFF));
	background:-webkit-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:-o-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:-ms-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:linear-gradient(to bottom,  #F5F5F5 0%,#FFF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#FFF',GradientType=0 );
}

.spacer10 {
	height:10px;	
}

.spacer20 {
	height:20px;	
}

.spacer40 {
	height:40px;	
}

.spacer50 {
	height:50px;	
}

.spacer60 {
	height:60px;	
}

/* CONTACT BAR HEADER ----------------------------------------------------------------------------------------*/

#contact-bar-header {
	background:#303030;
	color:#AAAAAA;
	padding-bottom:5px;
}

#contact-bar-header ul {
	margin-top:-12px;	
}

#contact-bar-header ul li {
	font-size:0.8em;
}

/* LOGO HEADER -------------------------------------------------------------------------------------------------*/



/* BREADCRUMB  -------------------------------------------------------------------------------------------------*/

.breadcrumb {
	padding:6px 0 8px 0;
}

.breadcrumb a {
	color:#8D8D8D;
	font-size:0.7em;	
	text-transform:uppercase;
}

.breadcrumb a:hover {
	color:#BA0024;
	text-decoration:underline;
}

.breadcrumb span {
	color:#BA0024;
	font-size:0.7em;	
	text-transform:uppercase;
}

/* TITLE PAGE  ----------------------------------------------------------------------------------------------------*/

#title-page {
	background:url(../images/bg-title-page.jpg);
	background-attachment:fixed;
	background-position:right 115px;
}

.title-page {
	padding:178px 0;
	margin-top:81px;	
}

.title-page h1 {
	color:#BA0024;
	font-size:2.5em;
	text-transform:uppercase;
}

/* CONTENT --------------------------------------------------------------------------------------------------------*/

.content p,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	text-align:left;	
}

.content p {
	padding-right:20px;	
}

/* FORMATACAO TEXTO ----------------------------------------------------------------------------------------------*/

h1 {
    font-size:2.8em;
}

h2 {
    font-size:2.4em;
}

h3 {
    font-size:1.8em;
}

h4 {
    font-size:1.5em;
}

h5 {
    font-size:1.2em;
	font-style:italic;
}

h6 {
    font-size:1em;
}

h1, h2, h3, h4, h5, h6 {
	margin:5px 0 3px 0;
}

h1, h2, h4, h5, h6 {
	color:#555555;
}

h3 {
	color:#BA0024;
}

h1, h2, h3 {
	font-weight:300;
}

h4, h5, h6 {
	font-weight:400;
}

p {
	font-size:1em;	
	margin-bottom:1em;
	line-height:1.4em;
}

a {
	color:#BA0024;
	transition:all 500ms ease 0s;	
	text-decoration:none;
}

a:hover {
	color:#555555;
}

legend {
	font-size:1.2em;
	margin-top:10px;
}

legend span {
	color:#BA0024;
    font-variant:small-caps;
}

/* VIDEO CONTAINER -----------------------------------------------------------------------------------------*/

.videos {
	margin-top:40px;	
}

.video-container {
	position:relative; /* keeps the aspect ratio */
	padding-bottom:56.25%; /* fine tunes the video positioning */
	overflow:hidden;
	margin-top:30px;
}

.video-container iframe,
.video-container object,
.video-container embed { position:absolute; top:0; left:0; width:100%; height:100%;
}

.video-container iframe {
	border:1px solid #AEAEAE;
	padding:8px;
}

/* SHADOWBOX --------------------------------------------------------------------------------------------------*/

.shadowbox {
	margin-top:60px;	
}

.shadowbox img {
	border:1px solid #AEAEAE;
	padding:8px;
}

.image-shadowbox,
.video-shadowbox {
	margin-top:30px;	
}

/* ACCORDION EFFECT ------------------------------------------------------------------------------------------------*/

.accordion-effect {
	margin-top:30px;
}

.accordion-list {
	margin-top:20px;	
}

.accordion {
    margin-top:3px;
    padding:12px 20px;
	color:#555;
    background:#EEE;
    text-decoration:none;
    font-size:1em;
	text-align:left;
	border-left:5px solid #BA0024;
}

/*.accordion-open {
    background:#000;
    color:#fff;
}*/

.accordion-effect ul li {
	padding:10px;
	text-align:left;	
}

.accordion-effect ul li a {
	color:#8D8D8D;
	font-size:0.95em;
}

.accordion-open span {
    display:block;
    float:right;
    padding:10px;
}

.accordion-open span {
    background:url(../images/arrow-up.png) center center no-repeat;
}

.accordion-close span {
    display:block;
    float:right;
    background:url(../images/arrow-down.png) center center no-repeat;
    padding:10px;
}

/* TABS  ------------------------------------------------------------------------------------------------*/

#tabs {
	margin-top:60px;	
}

.tabs {
    float:none;
    padding:0;
    margin:75px auto;
}
 
.tabs h3 {
	font-size:1.3em;
	font-weight:400;
	color:#BA0024;	
	margin-bottom:5px;
}

.tabs p {
	font-size:0.95em;	
}

.tabs:after {
    content:'';
    display:table;
    clear:both;
}
 
.tabs input[type=radio] {
    display:none;
}
 
.tabs label {
	font-size:1.3em;
    display:block;
    float:left;
    width:33.3333%;
    color:#CCC;
    text-decoration:none;
    text-align:center;
    padding:12px 0 6px 0;
    cursor:pointer;
    box-shadow:inset 0 4px #CCC;
    border-bottom:4px solid #CCC;
 
    -webkit-transition:all 0.5s; /* Safari 3.1 to 6.0 */
    transition:all 0.5s;
}
  
.tabs label span {
    display:none;
}
 
.tabs label i {
    padding:5px;
    margin-right:0;
}
 
.tabs label:hover {
    color:#BA0024;
    box-shadow:inset 0 4px #BA0024;
    border-bottom:4px solid #BA0024;
}
 
.tab-content {
    display:none;
    width:100%;
    float:left;
    padding:15px;
    box-sizing:border-box;
    background-color:#FFF;
	text-align:left;
}

/* THE ANIMATION */

.tab-content * {
 
    -webkit-animation:scale 0.7s ease-in-out;
    -moz-animation:scale 0.7s ease-in-out;
    animation:scale 0.7s ease-in-out;
}
 
@keyframes scale {
 
  0% { 
    transform:scale(0.9);
    opacity:0;
    }
 
  50% {
    transform:scale(1.01);
    opacity:0.5;
    }
 
  100% { 
    transform:scale(1);
    opacity:1;
  }
 
}

/* THE MECHANICS */

.tabs [id^="tab"]:checked + label {
    background:#FFF;
    box-shadow:inset 0 4px #BA0024;
    border-bottom:4px solid #BA0024;
    color:#BA0024;
}
 
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display:block;
}

/* MAKING RESPONSIVE */

@media (min-width:768px) {   
    .tabs i {
        padding:5px;
        margin-right:10px;
    }
 
    .tabs label span {
        display:inline-block;
    }
 
    .tabs {
   max-width:750px;
   margin:50px auto;
    }
}

/* SIDEBAR ------------------------------------------------------------------------------------------------------*/

/* WIDGET NAVS --------------------------------------------------------------------------------------------------*/

.widget-nav {
	text-align:left;
	margin-top:20px;
}

.widget-nav li {
	list-style-position:inside;
	margin:8px 0;
}

.widget-nav li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
}

.widget-nav li a:hover {
	color:#BA0024;
}

.widget-nav i {
	color:#BA0024;
}


/* WIDGET LIST BG COLOR ----------------------------------------------------------------------------------------------*/

.widget-nav-bg-color {
	text-align:left;
	margin-top:30px;
}

.widget-nav-bg-color ul {
	margin-top:10px;	
}

.widget-nav-bg-color li {
	list-style-position:inside;
	background:#BA0024;
	margin-top:1px;
	padding:10px 0 10px 15px;
	transition:all 500ms ease 0s;	
}

.widget-nav-bg-color li:hover {
	background:#810019;
}

.widget-nav-bg-color li a {
	font-size:0.95em;
	color:#fff;
	text-decoration:none;	
	padding:10px 100px 10px 0;
}

.widget-nav-bg-color i {
	font-size:0.7em;
}

/* WIDGET LIST SIMPLE ---------------------------------------------------------------------------------------*/

.widget-nav-simple {
	text-align:left;
	margin-top:30px;
}

.widget-nav-simple li {
	margin:8px 0;
}

.widget-nav-simple li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
	text-transform:uppercase;
}

.widget-nav-simple li a:hover {
	color:#BA0024;
}

/* WIDGET LIST BORDER -----------------------------------------------------------------------------------------*/

.widget-nav-border {
	text-align:left;
	margin-top:30px;
}

.widget-nav-border ul {
	margin-top:10px;	
	border:1px solid #D2D2D2;
	background-color:transparent;
	border-radius:5px;
}

.widget-nav-border ul:hover {
	border-radius:5px;
}

.widget-nav-border li {
	padding:10px 0 10px 15px;
	transition:all 500ms ease 0s;	
	border-bottom:1px solid #D2D2D2;
}

.widget-nav-border li:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.widget-nav-border li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.widget-nav-border li:hover {
	background:#EEE;
}

.widget-nav-border li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
	padding:10px 100px 10px 0;
}

/* WIDGET LIST SHADOW -----------------------------------------------------------------------------------------*/

.widget-nav-shadow {
	text-align:left;
	margin-top:30px;
}

.widget-nav-shadow ul {
	margin-top:15px;	
	box-shadow:0px 0px 5px #9A9A9A;
	background-color:transparent;
	border-radius:5px;
	padding:15px 30px;
}

.widget-nav-shadow ul:hover {
	border-radius:5px;
}

.widget-nav-shadow li {
	padding:10px 0;
	transition:all 500ms ease 0s;	
	border-bottom:1px solid #D2D2D2;
}

.widget-nav-shadow li:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.widget-nav-shadow li:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.widget-nav-shadow li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
}

.widget-nav-shadow li a:hover {
	color:#BA0024;
}

/* LINE STYLES ----------------------------------------------------------------------------------------------------*/

hr {
	display:block;
	border:0;
	margin:1em 0;
	padding:0;
}

/* SIMPLE LINES ----------------------------------------------------------------------------------------------------*/

.horizontal-line {
	border-top:1px solid #D2D2D2;	
}

.dotted-line {
	border-top:1px dotted #D2D2D2;	
}

.dashed-line {
	border-top:1px dashed #D2D2D2;	
}

/* LINE STYLE WECANFLY ----------------------------------------------------------------------------------------------*/

.line-style-wecanfly .line1 {
	border-top:1px solid #D2D2D2;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

.line-style-wecanfly .line2 {
	background-color:#BA0024;
	width:80px;
	height:3px;
	position:relative;
	top:-18px;	
	margin-left:auto;
	margin-right:auto;
	border:0 none;
}

/* LINE STYLE CLASH  -------------------------------------------------------------------------------------------------*/

.line-style-clash {
	margin-top:-10px;	
}

.line-style-clash .line1 {
	background-color:#BA0024;
	margin-left:auto;
	margin-right:auto;
	border:0 none;
	width:18%;
	height:3px;	
	float:right;
	margin-top:-2px;
}

.line-style-clash .line2 {
	border-top:1px solid #D2D2D2;
	width:82%;	
}

/* LINE STYLE GRADIENT ----------------------------------------------------------------------------------------------*/

.line-style-gradient {
	border:0;
	height:1px;
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top:5px;
}

/* LINE STYLE GLYPH --------------------------------------------------------------------------------------------------*/

.line-style-glyph {
	padding:0;
	border:none;
	border-top:medium double #D2D2D2;
	color:#D2D2D2;
	text-align:center;
}

.line-style-glyph:after {
	content:"§";
	display:inline-block;
	position:relative;
	top:-16px;
	font-size:1.3em;
	padding:0 10px;
	background:#FFF;
}

/* LINE STYLE DIAGONAL --------------------------------------------------------------------------------------------------*/

.line-style-diagonal {
	height:6px;
	background:url(../images/line-styles/diagonal.png) repeat-x 0 0;
    border:0;
}

/* LINE STYLE ZIG ZAG --------------------------------------------------------------------------------------------------*/

.line-style-zigzag {
	height:6px;
	background:url(../images/line-styles/zigzag.png) repeat-x 0 0;
    border:0;
}

/* LINE STYLE DIAMOND --------------------------------------------------------------------------------------------------*/

.line-style-diamond {
	height:7px;
	background:url(../images/line-styles/diamond.png) repeat-x 0 0;
    border:0;
}

/* BUTTONS ------------------------------------------------------------------------------------------------------------*/

#buttons {
	padding-top:40px;
	padding-bottom:80px;
}

#buttons h6 {
	margin-top:30px;	
}

.btn-large,
.btn-border,
.btn-std {
	margin:20px 0;
}

.btn-large {
	margin-top:25px;
}

.btn-std a {
	color:#fff;
	background-color:#BA0024;
	padding:8px 22px;
}

.btn-std a:hover {
	color:#fff;
	background-color:#810019;
}

.btn-round a {
	border-radius:5px;	
}

.btn-border a {
	border-style:solid;
	border-width:1px;
	background-color:transparent;
	padding:8px 22px;
}

.btn-border a:hover {
	border-style:solid;
	border-width:1px;
	border-color:#BA0024;
	padding:8px 22px;
	color:#fff;
	background-color:#BA0024;
}

.btn-large a {
	padding:12px 35px;
	font-size:1.2em;	
}

.btn-large a:hover {
	padding:12px 35px;
}

/* SERVICES ------------------------------------------------------------------------------------------------------*/

.services {
	padding-bottom:50px;
}

.single-service {
	margin-top:30px;
	padding-bottom:10px;	
	text-align:left;
}

.icon-service {
	float:left;	
	font-size:1.5em;
	color:#BA0024;
}

.single-service a {
	cursor:default;	
	background:#EBEBEB;
	border-radius:50px;
	padding:10px 4px 10px 14px;
	margin-right:10px;
}

.services h2 {
	font-weight:400;
	font-size:1.2em;	
	text-transform:uppercase;
}

.services p {
	margin:10px 0 0 63px;
}

/* TESTIMONIALS ------------------------------------------------------------------------------------------------*/

blockquote {
	margin-top:30px;	
	text-align:left;	
	padding-bottom:60px;	
}

.content-testimonial {
	padding:30px 20px 1px 20px;
	background:#4F4F4F;
	color:#AAAAAA;
}

.aspas:before {
	font-family:Constantia, serif;
	content:"“";
	font-size:6em;
	float:left;
	margin:-15px 10px 0 0;
}

blockquote p {
	margin-left:50px;	
}

.arrow-baloon {
	content:"";
	display:inline-block;
	vertical-align:middle;
	margin-left:50px;
	width:0; 
	height:0; 
	border-top:15px solid #4F4F4F;
	border-right:20px solid transparent;
	float:left;
}

.image-deponent {
	float:left;	
	margin:15px 20px 0 0;
}

.content-deponent {
	margin-top:30px;
}

.name-deponent {
	font-weight:700;
	font-size:1.1em;
	color:#555;	
}

.function-deponent {
	font-style:italic;	
}

.location-deponent {
	font-weight:700;
	color:#BA0024;	
}




/* CALL TO ACTION ------------------------------------------------------------------------------------------------*/

#call-to-action {
	background:#EEE;	
	padding:60px 0 80px 0;
}

.call-to-action h3 {
	text-align:left;
}

.call-to-action p {
	text-align:left;
}

.call-to-action .btn-border {
	margin-top:35px;	
}

/* CALL TO ACTION BOXED -------------------------------------------------------------------------------------------*/

#call-to-action-boxed {
	margin:80px 0;
}

.call-to-action-boxed {
	background:#F0F0F0;
	padding:30px 20px 50px 40px;
	border-left:5px solid #BA0024;
}

.call-to-action-boxed h3 {
	margin-top:20px;
	text-align:left;
}

.call-to-action-boxed p {
	text-align:left;
}

/* NEWSLETTER ---------------------------------------------------------------------------------------------*/

#newsletter {
	background:#EEE;	
	padding:40px 0 60px 0;
}

.newsletter h3 {
	text-align:left;
}

.newsletter p {
	text-align:left;
}

/* FORM SUBSCRIBE NEWSLETTER ---------------------------------------------------------------------------------*/

#subscribe-newsletter fieldset {
	border:none;	
	margin-top:30px;
	text-align:right;
}

#subscribe-newsletter fieldset .subscribe-newsletter {
	border:1px solid #B7B7B7;
	background-color:transparent;	
	font-size:0.9em;
	color:#7A7A7A;
	padding:7px 20px;
}

#subscribe-newsletter fieldset .button {
	font-weight:300;
	border:none;
	background-color:#BA0024;	
	color:#fff;
	font-size:0.8em;
	text-transform:uppercase;
	padding:8px 15px;
	cursor:pointer;
	position:relative;
	left:-5px;
	top:-1px;
	transition:all 500ms ease 0s;	
}

#subscribe-newsletter fieldset .button:hover {
	background-color:#810019;	
}

/* CONTATO ----------------------------------------------------------------------------------------------*/

#contact-form {
	padding:40px 0 60px 0;
}

.success-message, .error-message {
	color:#303030;
	background-color:#fffeb4;	
	padding:20px;
	border-radius:5px;
	text-align:center;
	margin:30px 0;
}

.alert-messages {
	width:99%;	
	display:none;
}

.alert-messages span {
	position:relative;
	top:-3px;	
}

.success-message li {
	list-style-image:url(../images/icon-success.png);
	list-style-position:inside;	
}

.error-message li {
	list-style-image:url(../images/icon-alert.png);
	list-style-position:inside;	
}

.contact-form form {
	text-align:left;
}

.contact-form fieldset {
	border:0;
	margin-top:30px;
}

.contact-form span {
	display:block;
	color:#ba1f28;	
	font-size:0.84em;
	margin:0 0 0 7px;
}

.contact-form label {
	display:block;	
	padding:6px 0;
}

.required-field {
	font-size:0.85em;
	padding:10px 0;
}

.contact-form input {
	font-family:'Lato', sans-serif;
	font-size:0.8em;
	padding:10px 18px;
	width:100%;
	border:1px solid #E5E5E5;
}

.contact-form textarea {
	font-family:'Lato', sans-serif;
	font-size:0.8em;
	padding:6px 15px;
	border:1px solid #E5E5E5;
	width:100%;
}

.contact-form .button {
	font-size:1em;
	display:inline;
	color:#fff;
	cursor:pointer;
	margin:5px 10px 0 0;
	padding:8px 0;
	border-style:none;
	background-color:#BA0024;
	width:100px;
	transition:all 500ms ease 0s;	
}

.contact-form .button:hover {
	background-color:#810019;
}

/* CONTACT-FORM/CONTACT-INFO ----------------------------------------------------------------------------------------------*/

#contact-form-contact-info {
	padding-bottom:60px;
}

.contact-info {
	text-align:left;
	margin-top:40px;
}

.contact-info li {
	list-style-position:inside;
	margin:20px 0;
}

.contact-info li a {
	font-size:0.95em;
	color:#8D8D8D;
	text-decoration:none;	
}

.contact-info i,
.contact-info i,
.contact-info i,
.contact-info i {
	color:#fff;
	background:#BA0024;
	padding:10px;
	border-radius:80px;
}

/* GOOGLE MAPS ----------------------------------------------------------------------------------------------*/

#google-map {
	margin-bottom:-4px;	
	border-top:1px solid #D2D2D2;
}

.hue-rotate {
	filter:hue-rotate(220deg);
	-webkit-filter:hue-rotate(220deg);
	-moz-filter:hue-rotate(220deg);
	-o-filter:hue-rotate(220deg);
	-ms-filter:hue-rotate(220deg);
}

.desaturate {
	filter:saturate(50%);
	-webkit-filter:saturate(500%);
	-moz-filter:saturate(500%);
	-o-filter:saturate(500%);
	-ms-filter:saturate(500%);	
}

/* CONTACT BAR ----------------------------------------------------------------------------------------------*/

#contact-bar {
	color:#AAAAAA;
	background:#303030;
	padding-bottom:10px;
}

.contact-bar ul {
	margin-top:-5px;	
}

.contact-bar ul li {
	font-size:0.9em;
	display:inline-block;	
	list-style-position:inside;
	margin:0 50px 0 0;
}

.contact-bar .adress {
	float:left;
}

.contact-bar .email {
	float:right;
}

.contact-bar .phone {
	position:relative;
	top:-2px;
}

.contact-bar i {
	color:#BA0024;
}

/* FOOTER ----------------------------------------------------------------------------------------------*/

footer {
	background:#3B3B3B;
	padding:10px 0 50px 0;
}

/* WIDGET CONTACT ----------------------------------------------------------------------------------------------*/

.widget-contact {
	text-align:left;	
}

.widget-contact ul {
	margin-top:15px;
}

.widget-contact li {
	font-size:0.9em;
	color:#CDCDCD;	
	list-style-position:inside;
}

.widget-contact span {
	line-height:23px;
}

.widget-contact i {
	color:#BA0024;	
}

/* FACEBOOK PAGE -------------------------------------------------------------------------------------------------------*/

.fb-page {
	margin-top:15px;
}

/* COPYRIGHT 1 ------------------------------------------------------------------------------------------------------*/

#copyright1 {
	background-color:#303030;
	padding-top:5px;
	padding-bottom:25px;
}

.copyright {
	font-size:0.93em;
}

/* COPYRIGHT 2 ------------------------------------------------------------------------------------------------------*/

#copyright2 {
	background-color:#282828;
	padding-top:5px;
	padding-bottom:20px;
}

#copyright2 .copyright {
	text-align:left;
}

.developer {
	text-align:right;
	font-size:0.6em;
}

.developer a {
	color:#0C4C43;
}

.developer a:hover {
	color:#6CC5B2;
}

.developer span {
	position:relative;
	top:-2px;	
	margin-right:8px;
}

/* MEDIA QUERIES -------------------------------------------------------------------------------------------*/

/* Menor que 960 */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait ao padrão 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* Todos tamanhos de mobile */
@media only screen and (max-width: 767px) {
	
}

/* Mobile em landscape a tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.contact-bar ul li {
		margin-right:20px;
	}
	
}

/* Mobile em portrait a mobile em landscape */
@media only screen and (max-width: 479px) { 
	
	.contact-bar ul li {
		float:left;
	}
	
	#contact-bar-header {
		display:none;	
	}
	
	.call-to-action .btn-border,
	.call-to-action-boxed .btn-std {
		text-align:left;	
	}
	
	#subscribe-newsletter fieldset {
		text-align:left;	
	}

	#subscribe-newsletter fieldset .button {
		margin-top:15px;
		left:0;
	}
	
	.contact-bar .adress,
	.contact-bar .phone,
	.contact-bar .email {
		float:left;
		text-align:left;
	}
	
	.contact-bar ul li {
		margin-right:0;	
	}
	
	#copyright2 .copyright {
		text-align:center;
	}
	
	.developer {
		text-align:center;
		margin-top:30px;
	}
	
	#title-page {
		background:url(../images/bg-title-page-mobile.jpg);
		background-attachment:inherit;
	}
	
	.title-page {
		padding:90px 0;
		margin-top:92px;	
	}
	
	.single-service {
		text-align:center;	
	}
	
	.icon-service {
		float:none;	
	}
	
	.services h2 {
		margin-top:20px;	
	}
	
	.services p {
		margin-left:0;	
	}
	
}

















