/*basic reset*/
* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	text-decoration:none;
	outline:none;
} 

/* color institutional   : #BA0024 */
/* color button hover    : #810019 */
/* color white bg heading: #555555 */
/* color black bg text   : #AAAAAA */
/* color black bg line   : #7D7D7D */
/* color white bg line   : #D2D2D2 */

body {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	font-size:16px;
	color:#909090;
	background-color:fff;
	text-align:center;
}

img,
object,
embed,
video {
	height:auto;
	max-width:100%;
}

/* -- Radio Button Fix -- */
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input[type="submit"], input[type="button"] {-webkit-appearance:button;}
select {-webkit-appearance:textfield;}

.opacity {
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
}

.drop-shadow {
	box-shadow:0px 0px 5px #9A9A9A;
}

.clear {
	clear:both;	
}

.wrapper { 
	width:100%; 
	float:left; 
	clear:both;
}

.wrapper-content {
	position:relative;
	width:1140px;
	left:50%;
	margin-left:-570px;
	float:left;
	clear:both;

}

.vertical-gradient {
	background:#F5F5F5;
	background:-moz-linear-gradient(top,  #F5F5F5 0%, #FFF 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#FFF));
	background:-webkit-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:-o-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:-ms-linear-gradient(top,  #F5F5F5 0%,#FFF 100%);
	background:linear-gradient(to bottom,  #F5F5F5 0%,#FFF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#FFF',GradientType=0 );
}

.spacer20 {
	height:20px;	
}

.spacer40 {
	height:40px;	
}

.spacer50 {
	height:50px;	
}

.spacer60 {
	height:60px;	
}

/* 3DRollovers -------------------------------------------------------------------------------------------------------*/

.fade {
	margin-top:30px;
}

.rollover {
	position:relative;
	display:block;
}

/* VARIOUS ----------------------------------------------------------------------------------------------------*/

#paragrafo {
	background:#EFEFEF;	
	padding-top:40px;
	padding-bottom:80px;
}

p {
	font-size:1em;	
}

a {
	color:#BA0024;
	transition:all 500ms ease 0s;	
	text-decoration:none;
}

a:hover {
	color:#A4A4A4;
}

p, h1, h2, h3, h4, h5 {
	margin-top:10px;	
}

legend {
	font-size:1.2em;
	margin-top:10px;
}

legend span {
	color:#BA0024;
    font-variant:small-caps;
}

/* HEADING  ----------------------------------------------------------------------------------------------------*/

#heading {
	background:#EFEFEF;	
	padding-top:40px;
	padding-bottom:80px;
}

h1 {
    font-size:2.8em;
}

h2 {
    font-size:2.4em;
}

h3 {
    font-size:2em;
}

h4 {
    font-size:1.6em;
}

h5 {
    font-size:1.2em;
}

h3 {
	color:#BA0024;
}

h1, h2, h4, h5, h6 {
	color:#555555;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	font-style:normal;
}

/* LINE STYLES ----------------------------------------------------------------------------------------------------*/

hr {
	display:block;
	border:0;
	margin:1em 0;
	padding:0;
}

/* SIMPLE LINES ----------------------------------------------------------------------------------------------------*/

#line-styles {
	padding-top:40px;
	padding-bottom:80px;
}

.horizontal-line {
	border-top:1px solid #D2D2D2;	
}

.dotted-line {
	border-top:1px dotted #D2D2D2;	
}

.dashed-line {
	border-top:1px dashed #D2D2D2;	
}

/* LINE STYLE WECANFLY ----------------------------------------------------------------------------------------------*/

.line-style-wecanfly .line1 {
	border-top:1px solid #D2D2D2;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

.line-style-wecanfly .line2 {
	background-color:#BA0024;
	width:80px;
	height:3px;
	position:relative;
	top:-18px;	
	margin-left:auto;
	margin-right:auto;
	border:0 none;
}

/* LINE STYLE CLASH  -------------------------------------------------------------------------------------------------*/

.line-style-clash {
	margin-top:-10px;	
}

.line-style-clash .line1 {
	background-color:#BA0024;
	margin-left:auto;
	margin-right:auto;
	border:0 none;
	width:18%;
	height:3px;	
	float:right;
	margin-top:-2px;
}

.line-style-clash .line2 {
	border-top:1px solid #D2D2D2;
	width:82%;	
}

/* LINE STYLE GRADIENT ----------------------------------------------------------------------------------------------*/

.line-style-gradient {
	border:0;
	height:1px;
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top:5px;
}

/* LINE STYLE GLYPH --------------------------------------------------------------------------------------------------*/

.line-style-glyph {
	padding:0;
	border:none;
	border-top:medium double #D2D2D2;
	color:#D2D2D2; text-align: center;
}

.line-style-glyph:after {
	content:"§";
	display:inline-block;
	position:relative;
	top:-0.7em;
	font-size:1.5em;
	padding:0 0.25em;
	background:white;
}

/* LINE STYLE DIAGONAL --------------------------------------------------------------------------------------------------*/

.line-style-diagonal {
	height:6px;
	background:url(../images/line-styles/diagonal.png) repeat-x 0 0;
    border:0;
}

/* LINE STYLE ZIG ZAG --------------------------------------------------------------------------------------------------*/

.line-style-zigzag {
	height:6px;
	background:url(../images/line-styles/zigzag.png) repeat-x 0 0;
    border:0;
}

/* LINE STYLE DIAMOND --------------------------------------------------------------------------------------------------*/

.line-style-diamond {
	height:7px;
	background:url(../images/line-styles/diamond.png) repeat-x 0 0;
    border:0;
}

/* BUTTONS ------------------------------------------------------------------------------------------------------------*/

#buttons {
	padding-top:40px;
	padding-bottom:80px;
}

.btn-large,
.btn-border,
.btn-std {
	margin:20px 0;
}

.btn-large {
	margin-top:25px;
}

.btn-std a {
	color:#fff;
	background-color:#BA0024;
	padding:8px 22px;
}

.btn-std a:hover {
	color:#fff;
	background-color:#810019;
}

.btn-round a {
	border-radius:5px;	
}

.btn-border a {
	border-style:solid;
	border-width:1px;
	background-color:transparent;
	padding:8px 22px;
}

.btn-border a:hover {
	border-style:solid;
	border-width:1px;
	border-color:#BA0024;
	padding:8px 22px;
	color:#fff;
	background-color:#BA0024;
}

.btn-large a {
	padding:12px 35px;
	font-size:1.2em;	
}

.btn-large a:hover {
	padding:12px 35px;
}

/* CONTACT BAR HEADER ----------------------------------------------------------------------------------------*/

#contact-bar-header {
	background:#303030;
	color:#AAAAAA;
	padding-bottom:5px;
}

#contact-bar-header ul {
	margin-top:-15px;	
}

#contact-bar-header ul li {
	font-size:0.85em;
}

/* LOGO HEADER -------------------------------------------------------------------------------------------------*/



/* BREADCRUMB  -------------------------------------------------------------------------------------------------*/

.breadcrumb {
	padding:6px 0 8px 0;
}

.breadcrumb a {
	color:#909090;
	font-size:0.7em;	
	text-transform:uppercase;
}

.breadcrumb a:hover {
	color:#BA0024;
	text-decoration:underline;
}

.breadcrumb span {
	color:#BA0024;
	font-size:0.7em;	
	text-transform:uppercase;
}

/* TITLE PAGE  ----------------------------------------------------------------------------------------------------*/

#title-page {
	background:url(../images/bg-title-page.jpg);
	background-attachment:fixed;
	background-position:right 115px;
}

.title-page {
	padding:200px 0;
	margin-top:80px;	
}

.title-page h1 {
	color:#BA0024;
	font-size:2.8em;
	text-transform:uppercase;
}

/* CALL TO ACTION ------------------------------------------------------------------------------------------------*/

#call-to-action {
	background:#EFEFEF;	
	padding-top:40px;
	padding-bottom:100px;
}

.call-to-action h3 {
	text-align:left;
}

.call-to-action p {
	text-align:left;
}

/* CALL TO ACTION BOXED -------------------------------------------------------------------------------------------*/

#call-to-action-boxed {
	padding-top:80px;
	padding-bottom:80px;
}

.call-to-action-boxed {
	background:#F0F0F0;
	padding:20px 20px 60px 40px;
	border-left:5px solid #BA0024;
}

.call-to-action-boxed h3 {
	margin-top:20px;
	text-align:left;
}

.call-to-action-boxed p {
	text-align:left;
}

/* VIDEO CONTAINER --------------------------------------------------------------------------------------------------*/

.video-container {
	position:relative; /* keeps the aspect ratio */
	padding-bottom: 56.25%; /* fine tunes the video positioning */
	overflow: hidden;
	margin-top:30px;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

#video-container {
	background:#EFEFEF;	
	padding-top:40px;
	padding-bottom:80px;
}

.video-container iframe {
	border:1px solid #AEAEAE;
	padding:8px;
}


/* SHADOWBOX --------------------------------------------------------------------------------------------------*/

#shadowbox-sidebar {
	padding:40px 0 110px 0;
}

.shadowbox img {
	border:1px solid #AEAEAE;
	padding:8px;
}

/* WIDGET LIST --------------------------------------------------------------------------------------------------*/

.widget-list {
	text-align:left;
	margin-top:20px;
}

.widget-list li {
	list-style-image:url(../images/marker-01.png);
	list-style-position:inside;
	margin:8px 0;
}

.widget-list li a {
	font-size:0.95em;
	color:#909090;
	text-decoration:none;	
}

.widget-list li a:hover {
	color:#BA0024;
}

/* WIDGET LIST BG COLOR ----------------------------------------------------------------------------------------------*/

.widget-list-bg-color {
	text-align:left;
	margin-top:20px;
}

.widget-list-bg-color ul {
	margin-top:10px;	
}

.widget-list-bg-color li {
	list-style-image:url(../images/marker-02.png);
	list-style-position:inside;
	background:#BA0024;
	margin-top:1px;
	padding:10px 0 10px 15px;
	transition:all 500ms ease 0s;	
}

.widget-list-bg-color li:hover {
	background:#810019;
}

.widget-list-bg-color li a {
	font-size:0.95em;
	color:#fff;
	text-decoration:none;	
	padding:10px 100px 10px 0;
}

/* CONTATO ----------------------------------------------------------------------------------------------*/

#contact-form {
	background:#EFEFEF;	
	padding:40px 0;
}

/* CONTACT-FORM/CONTACT-INFO ----------------------------------------------------------------------------------------------*/

#contact-form-contact-info {
	padding-top:20px;
	padding-bottom:60px;
}

.contact-info {
	text-align:left;
	margin-top:20px;
}

.contact-info li {
	list-style-position:inside;
	margin:20px 0;
}

.contact-info li a {
	font-size:0.95em;
	color:#909090;
	text-decoration:none;	
}

.contact-info span {
	position:relative;
	top:-2px;
	left:12px;
}

.contact-info .phone:before {
	content:url(../images/icon-phone-white.png);
}

.contact-info .mobile:before {
	content:url(../images/icon-mobile-white.png);
}

.contact-info .email:before {
	content:url(../images/icon-email-white.png);
}

.contact-info .adress:before {
	content:url(../images/icon-adress-white.png);
}

.contact-info .phone:before,
.contact-info .mobile:before,
.contact-info .email:before,
.contact-info .adress:before {
	background:#BA0024;
	padding:9px 12px 6px 12px;
	border-radius:3px;
}

/* GOOGLE MAPS ----------------------------------------------------------------------------------------------*/

.hue-rotate {
	filter: hue-rotate(220deg);
	-webkit-filter: hue-rotate(220deg);
	-moz-filter: hue-rotate(220deg);
	-o-filter: hue-rotate(220deg);
	-ms-filter: hue-rotate(220deg);
}

.desaturate {
	filter: saturate(50%);
	-webkit-filter: saturate(500%);
	-moz-filter: saturate(500%);
	-o-filter: saturate(500%);
	-ms-filter: saturate(500%);	
}

/* CONTACT BAR ----------------------------------------------------------------------------------------------*/

#contact-bar {
	color:#AAAAAA;
	background:#303030;
	padding-bottom:10px;
}

.contact-bar ul {
	margin-top:-5px;	
}

.contact-bar ul li {
	font-size:0.9em;
	display:inline-block;	
	list-style-position:inside;
	margin:0 50px 0 0;
}

.contact-bar span {
	position:relative;
	top:-2px;
	left:5px;
}

.contact-bar .adress:before {
	content:url(../images/icon-adress.png);
}

.contact-bar .adress {
	float:left;
}

.contact-bar .phone:before {
	content:url(../images/icon-phone.png);
}

.contact-bar .email:before {
	content:url(../images/icon-email.png);
}

.contact-bar .email {
	float:right;
}

.contact-bar .mobile:before {
	content:url(../images/icon-mobile.png);
}

/* FOOTER ----------------------------------------------------------------------------------------------*/

footer {
	background:#3B3B3B;
	padding:10px 0 50px 0;
}

/* WIDGET CONTACT ----------------------------------------------------------------------------------------------*/

.widget-contact {
	color:#767784;
	text-align:left;	
}

.widget-contact ul {
	margin-top:15px;
}

.widget-contact li {
	font-size:0.9em;
	color:#CDCDCD;	
	list-style-position:inside;
}

.widget-contact p {
	padding-right:15px;
}

.widget-contact span {
	position:relative;
	left:5px;
	top:-1px;
	line-height:23px;
}

/* FACEBOOK PAGE -------------------------------------------------------------------------------------------------------*/

.fb-page {
	margin-top:15px;
}

/* GOOGLE MAP -------------------------------------------------------------------------------------------------------*/

#google-map {
	margin-bottom:-4px;	
}

/* COPYRIGHT -------------------------------------------------------------------------------------------------------*/

#copyright {
	background-color:#303030;
	padding-top:5px;
	padding-bottom:25px;
}

.copyright {
	font-size:0.93em;
}

/* MEDIA QUERIES -------------------------------------------------------------------------------------------*/

/* Menor que 960 */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait ao padrão 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* Todos tamanhos de mobile */
@media only screen and (max-width: 767px) {
	
}

/* Mobile em landscape a tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.contact-bar ul li {
		margin-right:20px;
	}
	
}

/* Mobile em portrait a mobile em landscape */
@media only screen and (max-width: 479px) { 
	
	.contact-bar ul li {
		float:left;
	}
	
	#contact-bar-header {
		display:none;	
	}
	
	
	
	
	
	
	
}



























